
/*{outline: 1px solid red;}*/
body, html{
  /*height:200%;*/
  margin: 0;
  background-color:rgb(20, 20, 20);
}
#logo3{
  position: fixed;
  margin: 25px 5 0 285px;
  z-index: 101;
  /*opacity: 0.8;*/
/*fix logo*/
}
/*.sweet{
  background-image: url('sweet.jpg');
  min-height: 100%;

}
.sweet{
position: fixed;
min-height: 100%;
background-repeat: no-repeat;
margin-top: -200px;
margin-bottom: 100px;
  }
*/




/*LEFT IMG#1/changing images with mouse cursor*/
.image-block {
  position: relative;
   /*display: inline-block;*/
   padding: 0;
   margin: 0;
   background-position: center center;
   background-repeat: no-repeat;
   clear: both;
}
.image-block img{
  width: 50%;
}
.image-up, .image-down, {
   border: 0;
   margin: 0;
   padding: 0;
}

.image-up {
  border-style: solid;
  border-color: rgb(236, 179, 93);
   opacity: 1.0;
   filter: alpha(opacity=99);
   display: block;
   position: absolute;
   z-index: 100;
   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration:  0.96s;
   transition-duration: 0.96s;
}


.image-up:hover {
   opacity: 0.00;
   filter: alpha(opacity=00);
}
/*changing images with mouse cursor/END*/

/*menu*/
#leftp{
  color: rgb(233, 189, 122);
  position: absolute;
  height:100%;
  margin-left: 45%;
  font-size: 17px;
  padding: 30px 310px 450px;
}

h1, h2, h3{
  text-align: center;

}
/*#leftp2{
  color: rgb(233, 189, 122);
  position: absolute;
  height:100%;
  margin-left: 37%;
  font-size: 30px;
  padding: 1050px 540px 450px;

}*/

#leftp3{
  clear: both;
  color: rgb(233, 189, 122);
  position: absolute;
  height:100%;
  margin-left: 45%;
  font-size: 17px;
  padding: 800px 400px 450px;

}
#downp{
  font-family: "Lato", sans-serif;
  /*font-size: 42px;*/
  color: rgb(233, 189, 122);
  position: absolute;
  height:100%;
  margin-left: 3%;
  padding: 2550px 800px 450px;
  letter-spacing: 7px;
}



#sweet{
  border-style: solid;
  border-color: color: rgb(233, 189, 122);
}
#coffee{
  border-style: solid;
  border-color: color: rgb(233, 189, 122);
}



#img1, #img2, #img3{
position: relative;
float: left;
/*width: 25%;*/
}
#img1{
  /*border-style: solid;
  border-color: rgb(233, 189, 122);*/
margin-left: 100px;
top:500px;
}
#img2{
  /*border-style: solid;
  border-color: rgb(233, 189, 122);*/
/*float: right;*/
/*margin-bottom: 80%;*/
/*margin-right: 30%;*/
margin-left: 130px;
top: 1000px;

}
#img1 img{
  width: 300px;

}

#img3{
  /*border-style: solid;
  border-color: rgb(233, 189, 122);*/
/*margin-right: 15%;*/
margin-left: 180px;
top: 800px;

}
#footer{
  text-align: center;
  font-family: "Lato", sans-serif;
  /*font-size: 42px;*/
  color: rgb(233, 189, 122);
  padding: 2350px 800px 450px;
  letter-spacing: 5px;
}
